<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Skip if the file or directory exists
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Route to index.php
    RewriteRule ^(.*)$ index.php?path=$1 [QSA,L]
</IfModule>
